<div class="container py-4 py-md-5 px-4 px-md-3 text-body-secondary">
    <div class="row">
      <div class="col-lg-3 mb-3">
        <a class="d-inline-flex align-items-center mb-2 text-body-emphasis text-decoration-none" href="/listing" aria-label="Bootstrap">
          <img src="/logo/Airbnb_Logo_Bélo.svg.png" class="logo" alt="" srcset="">
        </a>
        <ul class="list-unstyled small">
          <li class="mb-2"><h1>Need to get in touch?</h1></li>
          <li class="mb-2">Airbnb your home</li>
          <li class="mb-2">Created By : Maulik Kanzariya</li>
        </ul>
      </div>
      <div class="col-12 col-lg-2 offset-lg-1 mb-3">
        <h5>Links</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="/listing">Home</a></li>
          <li class="mb-2"><a href="/listing">All Listings</a></li>
          <li class="mb-2"><a href="/listing/new">Add New Listing</a></li>
        </ul>
      </div>
      <div class="col-12 col-lg-2 mb-3">
        <h5>Social Meida Handels</h5>
        <ul class="list-unstyled">
          <li class="mb-3"><a href="#" target="_blank" rel="noopener"><i class="fa-brands fa-square-instagram font-logo"></i>Instagram</a></li>
          <li class="mb-3"><a href="#" target="_blank" rel="noopener"><i class="fa-brands fa-square-facebook font-logo"></i>Facebook</a></li>
          <li class="mb-3"><a href="#" target="_blank" rel="noopener"><i class="fa-brands fa-square-x-twitter font-logo"></i>Twitter</a></li>
          <li class="mb-3"><a href="#" target="_blank" rel="noopener"><i class="fa-brands fa-linkedin font-logo"></i>Linkdin</a></li>
        </ul>
      </div>
    </div>
  </div>